/*Onboarding Screen TCSS */

.OBpanel { /*Onboarding Panel */
    margin: 3;
    width: 50%;
    height: 100%;
    border: double $accent;
    align: center middle;
}

/* Ensure Input has a explicit width so horizontal alignment is visible */
.OBpanel Input {
    width: 75%; 
    align: center middle;
}

.header {
    align: center top;
    width: 75%;
    text-align: center;
    padding-top: 1;
    border-bottom: double $accent;
}

.top {
    dock: top;
    align: center top;
    width: 100%;
    height: 4;
}

.bottom {
    dock: bottom;
    align: center bottom;
    width: 100%;
    height: 4;
}

#title {
    text-align: center;
    align: center middle;
    width: 100%;
    text-style: bold;
}

#searchCfg {
    width: 60%;
    text-align: center;
    text-style: bold;
}

#searchResult {
    width: 60%;
    text-align: center;
    text-style: bold;
    color: $success;
}

/*Dashboard Screen TCSS*/
#dash{
    align: center middle;
}

#personal {
    height: 3;
    border-bottom: double $accent;
    margin-top: 1;
    margin-bottom: 0;
}

#displayName {
    margin-right: 2;
    margin-left: 2;
}

#times {
    border: double $accent;
    width: 50%;
    align: center middle;
    margin: 2;
    height: 6;
}

#leaderboards {
    width: 50%;
    border: double $accent;
    margin: 2;
    height: 6;
}

#dailyAvgTime {
    margin-right: 2;
}

#projects {
    border: double $accent;
    width: 50%;
    margin: 2;
}

.projectLabel {
    width: 100%
}

#languages {
    border: double $accent;
    width: 50%;
    margin: 2;
}

.languageLabel {
    width: 100;
}